<h1>post <i>directive</i></h1>

<div ng-if="mainCtrl.name && headerCtrl.name">
  <scopes>
    <p>$scope.mainCtrl.name = <b>{{mainCtrl.name}}</b></p>
    <p>$scope.headerCtrl.name = <b>{{headerCtrl.name}}</b></p>
  </scopes>
</div>

<div ng-if="!mainCtrl.name && !headerCtrl.name && !getCtrlScope">
  <scopes>
    <p>$scope.mainCtrl.name = <oos>out-of-scope<oos></p>
    <p>$scope.headerCtrl.name = <oos>out-of-scope<oos></p>
  </scopes>
</div>

<div ng-if="getCtrlScope">
  <scopes>
    <p>getCtrlScope.ctrl[0].name = <b>{{getCtrlScope.ctrl[0].name}}</b></p>
    <p>getCtrlScope.ctrl[1].name = <b>{{getCtrlScope.ctrl[1].name}}</b></p>
  </scopes>
</div>
