h1 i {
  font-size: 70%;
}
ng-include {
  border: 2px dashed #333;
  display: block;
  padding: 10px;
  margin: 10px;
}

ng-include:before {
  content: 'ng-include';
}

div[ng-controller] {
  border: 2px dashed #333;
  display: block;
  padding: 20px;
  margin: 10px;
}

div[ng-controller]:before {
  content: 'ng-controller';
}

scopes {
  display: inline-block;
  border-radius: 5px;
  background: #555;
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

scopes p b {
  background: rgb(255, 223, 93);
  color: black;
}

scopes p {
  margin: 5px 0 5px 0;
  display: block;
  letter-spacing: 2px;
  font-size: 13px;
  color: white;
}

scopes p oos {
  background: red;
  font-weight: bold;
}

se-no-isolate {
  border: 3px dashed purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-no-isolate:before {
  content: 'se-no-isolate directive';
}

se-isolate {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate:before {
  content: 'se-isolate directive';
}

se-isolate-two-way {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate-two-way:before {
  content: 'se-isolate-two-way directive';
}

se-isolate-function {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate-function:before {
  content: 'se-isolate-function directive';
}

se-isolate-attr {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate-attr:before {
  content: 'se-isolate-attr directive';
}

se-isolate-attr-bind-ctrl {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate-attr-bind-ctrl:before {
  content: 'se-isolate-attr-bind-ctrl directive';
}

.directive-examples > div {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

.directive-examples > div:before {
  content: 'se-isolate-attr-bind-ctrl directive';
}

se-isolate-transclude {
  border: 3px solid purple;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-isolate-transclude:before {
  content: 'se-isolate-transclude directive';
}

se-ng-view {
  border: 3px solid orange;
  display: inline-block;
  width: 98%;
  padding: 20px;
  margin: 10px;
}

se-ng-view:before {
  content: 'se-ng-view directive';
}
